body {
    font-family: 'Ubuntu', sans-serif;
}

.header {
    overflow: auto;
}

.header-img > img {
    width: 70px;
    float: left;
}

.nav-bar {
    height: 80px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.nav-link {
    font-size: 1.3rem;
    margin: 0px 10px;
    text-decoration: none;
}

.form-div {
    text-align: center;
    font-size : 1.2rem;
}

.form-group > input {
    font-size: 1.05rem;
    height: 1.6rem;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
}

form> button {
    background-color: goldenrod;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.95rem;
    border: 0px;
    margin-bottom: 50px;
}

button:hover {
    cursor: pointer;
}

.hide-sm {
    display: none;
}

.feature-category {
    text-align: center;
}

.article-cotent h2 {
    margin-bottom: 10px;
    font-size: 2rem;
    text-transform: capitalize;
}

.article-cotent p {
    margin-top: 0;
    font-size: 1.2rem;
}

@media screen and (min-width : 810px) {
    .nav-bar {
        flex-direction: row;
        justify-content: flex-end;
    }


    .feature-category {
        display: flex;
    }
    
    .article-logo {
        display: block;
        align-self: center;
        color: goldenrod;
        flex-basis: 160px;
        flex-shrink: 0;
    }

    .article-cotent {
        text-align: left;
    }
}